body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #121212;
    color: white;
}

nav {
    display: flex;
    width: 90vw;

    align-items: center;
    justify-content: space-between;
    background-color: #333333;
    min-height: 45px;
    color: white;
    box-shadow: 3px 4px 15px #333333;
    text-align: center;
    font-size: 220%;
    font-weight: bolder;
    padding: 5px;
    background-image: url(/static/images/banner.png);
    background-position-x: center;
    background-position-y: bottom;
    background-size: clamp(1000px, 75%, 800px) auto;
    background-repeat: no-repeat;
    margin-bottom: 20px;

}

.external-link::after {
    content: " ↗";
    font-size: smaller;
}

.bannerimage {
    
    width: 100%;
    max-width: 700px;
    min-height: 45px;
    background-image: url(/static/images/banner.png);
    background-position-x: left;
    background-position-y: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left:-285px;

}

.nav-left a, .nav-right a {
    color: white;
    margin-right: 1rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-left img {
    max-height: 60px;
    padding:5px;
}

.nav-left a:hover, .nav-right a:hover {
    color: #007bff;
}

.user-menu {
    position: relative;
    display: inline-block;
    z-index: 5;
}

.user-menu .dropdown {
    display: none;
    position: absolute;
    background-color: #242424;
    right: -10px;
    color: white;
    box-shadow: 0 8px 16px rgba(0,0,0,0.5);
    padding: 0.5rem;
    border-radius: 5px;
    z-index: 5;
    
    font-size: 50% !important;
    font-weight: bold !important;
}

.user-menu:hover .dropdown {
    display: block;
}

.profile-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
    padding-top:5px;
    padding-bottom:5px;
}

.signin-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
    padding-top:5px;
    padding-bottom:5px;
}

.signin-photo:hover {
    content: url('/static/images/signin_hover.png');
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 90vw;
    background-color: #181818;
    border-radius: 10px;
    margin: 2% auto;
    
    margin-top: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.world-tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding-bottom: 20px;
}

.world-tile {
    position: relative;
    background-color: #1f1f1f;
    border: 1px solid #333;
    border-radius: 8px;
    overflow: hidden;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.world-tile:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.tile-link {
    text-decoration: none;
    color: inherit;
    display: block;
    position: relative;
}

.world-tile img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.world-tile:hover img {
    transform: scale(1.05);
}

.world-info {
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    color: white;
    text-align: center;
    transition: background 0.3s ease;
}

.world-info h2 {
    font-size: 1.2em;
    margin: 0;
}

.world-title h5 {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    text-transform: uppercase;
    margin-top:0px;
    padding-top: 0px;
    padding-bottom:0px;
    margin-bottom: 0px;
}

.world-tile h5 img {
    width:37px;
    height:auto;
}

.settings-gear {
    width:33px!important;
}

.world-title h2 {
    margin-bottom:3px;
    margin-top:8px;
}


.world-links {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.world-links {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
}

.world-title {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    color: #ffffff;
    background-color: #007bff5c;
    border: 1px solid #007bff5a;
    text-align: center;
    transition: background 0.3s ease;
}

.world-title:hover {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    background-color: #007BFF;
    border: 1px solid #007BFF;
    border: 1px solid #007bff5a;
    text-align: center;
    transition: background 0.3s ease;
}

.world-link {
    color: #ffffff;
    background-color: #007bff5c;
    border: 1px solid #007bff5a;
    text-decoration: none;
    padding: 5px 0;
    border-radius: 4px;
    transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
}

.world-link:hover {
    color: #ffffff;
    background-color: #007BFF;
    border: 1px solid #007BFF;
    border-radius: 4px;
}

h1 {
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 20px;
}

p {
    margin: 0;
    color: #f1f1f1;
}

button {
    background-image: linear-gradient(to right, #0062E6, #33AEFF);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

button:hover {
    background-image: linear-gradient(to right, #004DBF, #007BFF);
    transform: translateY(-2px);
}

#bannerimage {
    width: 100%;
    background-image: url(/static/images/banner.png);
    height: 0;
    padding-top: 14%; /* (img-height / img-width * container-width) */
    max-height: 361px;
    max-width: 1708px;
    background-position: center-top;
    background-size: 100%;
    background-repeat: no-repeat;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    margin-bottom: 0px;
    border-radius: 0px;
    box-shadow: 0;
    margin-top:-110px;
    z-index: 0;
}

.settings-link {
    top: 1px;
    right: 1px;
    width: 33px;
    height: 33px;
    transition: transform 0.3s ease;
}

.settings-icon {
    width: 100%;
    height: auto;
}

.settings-link:hover {
    content: url('/static/images/gear-icon-hover.png');
}