#bannerimage {
    width: 100%;
    background-image: url("../banner.png");
    height:0;
    padding-top: 14%; /* (img-height / img-width * container-width) */
        /* (853 / 1280 * 100) */
    max-height: 361px;
    max-width:1708px;

    background-position: center-top;
    background-size:100%;
    background-repeat:no-repeat;
    border-bottom: 1px solid #ccc;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #202020; /* Dark background color */
    color: #f8f8f8; /* Light text color */
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    color: #f8f8f8 !important; /* Light text color */
    margin: 10px 0 !important;
    font-weight: bold;
}

h4 {
    font-size: 20px !important;
    margin-left: -5px !important;
}
h1 {
    font-size: 24px !important;
    font-weight: 600 !important;
}
h2 {
    font-size: 26px !important;
    font-weight: 600 !important;
}
h5, h6 {
    
    font-size: 17px !important;
    font-weight: 600 !important;
}
p, li {
    font-size: 16px !important;
    line-height: 1.6 !important;
    margin: 5px 0 !important;
}
.content-block {
    margin: 10px;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #333; /* Darker background color for content blocks */
}


.sub-sub-content {
    margin-left:2%
}
.sub-sub-sub-content {
    margin-left:4%
}

.main {
    border-left: 3px solid #ccc;
    padding-top:10px;
    padding-bottom:10px;
}

.introduction, .summary {
    color: #ccc; /* Lighter text color for summaries */
    font-style: italic;
}

.introduction {
    font-size: 80%;
    margin-bottom: 20px;
}

.summary, .main-content {
    margin-left: 5px;
}

.summary{
    border-left: 2px solid #ccc;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-left:20px;
}

.main-content {
    font-weight: 400; /* Regular text weight for body content */
    padding-left: 10px;
}
hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
    border-color: #777; /* Darker border color for HR */
    margin-left:12px;
    margin-right:10px;
}
.index {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100vh;
    background-color: #333; /* Darker background color for index */
    border-right: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}
.index h3 {
    font-size: 18px;
    margin-top: 0;
    color: #f8f8f8; /* Light text color for index headers */
}
.index a {
    display: block;
    color: #007BFF;
    text-decoration: none;
    padding: 5px 0;
    color: #f8f8f8; /* Light text color for index links */
}
.index a:hover {
    text-decoration: underline;
}

.subsectionlink {
    opacity: 80%;
    font-size: 70%;
    margin-left: 5px;
}
.subsubsectionlink {
    margin-left: 10px;
    opacity: 60%;
    font-size: 60%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 4px;
    left: 10px;
    right: 0;
    bottom: -4px;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: -6px;
    bottom: 0px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.slider-text {
    font-size:10px;
    color: #303030;
    font-weight: bold;
    transition: opacity .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(60px);
}

input:checked + .slider .slider-text {
    opacity: 1;
    color:white;
}

.updateTime {
    color: darkgray;
    font-size: 50%;
    font-weight: 300;
    font-style: italic;
    margin-top: -10px;
    margin-left: 3px;
    margin-bottom: 20px;
}

/* Existing styles... */

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: rgb(146, 126, 169);
}



.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #382e2ef4;
    color: #e1e1e1;
    box-shadow: #202020;
    font-size: small;
    text-align: center;
    border-radius: 10px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%; /* Position the tooltip above the text */
    left: 50%;
    margin-left: -100px; /* Use half of the width to center align */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover > .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltiptext .tooltiptext {
    visibility: hidden !important;
    opacity: 0 !important;
}

.hidden {
    display: none !important;
}

@media (max-width: 768px) {
    .index {
        position: static; /* Change from fixed to static */
        width: 100%;
        height: auto;
        overflow: hidden; /* Hide overflow */
        border-right: none;
        padding: 10px 0; /* Reduce padding */
        text-align: center;
        
        border-bottom: 1px solid #ccc;
    }

    .subsectionlink, .subsubsectionlink, .switch {
        display: none !important;
    }
    

    .index a {
        display: inline-block;
        color: #007BFF;
        text-decoration: none;
        padding: 5px 0;
        color: #f8f8f8; /* Light text color for index links */
    }

    .index a::after {
        content: " |";
    }
    .index a::before {
        content: "| ";
    }
    .main-content {
        display:inline;
        margin-left: 0; /* Remove margin */
        padding-left: 0;
    }
    #bannerimage {
        background-size: cover; /* Cover ensures the image fills the area well */
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: 90%; /* Reduce font size for headers on small screens */
    }
    p, li {
        font-size: 14px; /* Smaller text on small screens */
    }
}