body {
    align-content: center;
    align-items: center;
    background-color: #000000;
}
.main {
    display: flex;
    flex-direction: column;
    width: 90vw;
    align-items:center;
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    font-size: 16px;
}
h1 {
    color: #bb86fc;
}
h2 {
    color: #03dac6;
}
div {
    background-color: #333;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}
.section {

    width: 85vw;
    min-width: 85vw;
    max-width: 85vw;
}
ul {
    padding-left: 20px;
}
li {
    margin-bottom: 5px;
}
#bannerimage {
    width: 100%;
    background-image: url(/static/images/banner.png);
    height: 0;
    padding-top: 14%; /* (img-height / img-width * container-width) */
    max-height: 361px;
    max-width: 1708px;
    background-position: center-top;
    background-size: 100%;
    background-repeat: no-repeat;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    margin-bottom: 0px;
    border-radius: 0px;
    box-shadow: 0;
}

nav {
    display: flex;
    width: 90vw;

    align-items: center;
    justify-content: space-between;
    background-color: #333333;
    min-height: 45px;
    color: white;
    box-shadow: 3px 4px 15px #333333;
    text-align: center;
    font-size: 220%;
    font-weight: bolder;
    padding: 5px;
    background-image: url(/static/images/banner.png);
    background-position-x: center;
    background-position-y: bottom;
    background-size: clamp(800px, 75%, 800px) auto;
    background-repeat: no-repeat;
    margin-bottom: 20px;

}

button {
    background-color: #bb86fc;
    color: #121212;
    border: none;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #3700b3;
}
button.confirm-button {
    background-color: #03dac6;
    color: #121212;
}
button.confirm-button:hover {
    background-color: #018786;
}
