.world-settings-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1f1f1f;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
}

.form-group input[type="text"],
.form-group textarea {
    width: 100%;
    max-width: 97%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #2c2c2c;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.form-group input[type="text"]:focus,
.form-group textarea:focus {
    border-color: #007bff;
    outline: none;
}

.form-group input[type="text"]:disabled,
.form-group textarea:disabled {
    background-color: #444;
    border-color: #666;
    color: #888;
    cursor: not-allowed;
}

.radio-group {
    display: flex;
    gap: 10px;
}

.radio-group label {
    color: #ffffff;
    font-weight: bold;
}

.radio-group input[type="radio"] {
    margin-right: 5px;
}

.radio-group input[type="radio"]:disabled + label {
    color: #888;
    cursor: not-allowed;
}

button[type="submit"] {
    background-image: linear-gradient(to right, #0062E6, #33AEFF);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

button[type="submit"]:hover {
    background-image: linear-gradient(to right, #004DBF, #007BFF);
    transform: translateY(-2px);
}

button[type="submit"]:disabled {
    background-image: linear-gradient(to right, #444, #666);
    cursor: not-allowed;
    box-shadow: none;
}

textarea {
    height: 400px;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; /* Color of the handle */
    border-radius: 4px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the handle on hover */
}
