<!DOCTYPE html>
<html lang="en">
<head>
    <!--TEST-->
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.webp') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collective World Builder</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
{% if current_user.is_authenticated %}
                <div class="user-menu">
                    <img src="{{ current_user.profile_photo }}" alt="Profile Photo" class="profile-photo">
                    <div class="dropdown">
                        <a href="/logout" id="logout-link">Logout</a>
                    </div>
                </div>
{% endif %}
<div class="container">
    <div class="conversations">
        <div class="hamburger-menu">
            ☰ 
        </div>
        <hr/>
        <ul id="conversationList">
            <!-- Conversations will be listed here -->
        </ul>
        <form id="newConversationForm">
            <input type="text" id="newConversationName" placeholder="New Character" required>
            <br/>
            <button type="submit">Create</button>
            <a href="{{ url_for('overview', world_id=world_id) }}" target="_blank" class="external-link">Need Context? City Overview</a>
            <hr/>

        </form>
    </div>
    <div class="chat" id="chat">
        <div id="chatBanner">
            
            <div class="chatTitle" id="chatTitle"></div>
            <div id="user_info">
                <a href="{{ url_for('user_facts', world_id=world_id) }}" target="_blank" class="external-link" id="your-contributions">0 Contributions!</a><br/>
                <a href="{{ url_for('overview', world_id=world_id) }}" target="_blank" class="external-link">City Overview</a>
            </div>
        </div>
        <ul id="messages"></ul>
        <div id="typingIndicator" style="display: none; text-align: center; padding: 10px;">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
        <div class="message-input" id="message-input">
            <textarea id="messageInput" autocomplete="off" rows="1" placeholder="Type a message..." disabled></textarea>
            <button class="btn btn-primary" onclick="sendMessage()" disabled>Send</button>
        </div>
        
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
    let properNouns = [
                    {% for noun in nouns %}
                        { word: "{{ noun.word }}", definition: "{{ noun.definition }}" },
                    {% endfor %}
                ];
    let world = "{{world_id}}";
</script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>
