<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.webp') }}">
    <title>We Made This World</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<main>
    <nav>
        <div class="nav-left">
            <!-- Add more navigation links if needed -->
        </div>
        <div class="nav-right">
            {% if current_user.is_authenticated %}
                <div class="user-menu">
                    <img src="{{ current_user.profile_photo }}" alt="Profile Photo" class="profile-photo">
                    <div class="dropdown">
                        <a href="{{ url_for('logout') }}">Logout</a>
                    </div>
                </div>
            {% else %}
                <a href="{{ url_for('google_login') }}">Sign In</a>
            {% endif %}
        </div>
    </nav>
    
    
    {% if current_user.is_authenticated %}
        <h1>Your Worlds</h1>
    
        <div class="world-tiles">
            {% for world in Worlds %}
                <div class="world-tile">
                    <a href="{{ url_for('chat') }}" class="tile-link">
                        <img src="{{ url_for('static', filename='images/world_icons/' + world.id + '.jpg') }}" alt="{{ world.world_name }}">
                        <div class="world-title">
                            <h2>{{ world.world_name }}</h2> 
                        </div>
                        <div class="world-info">
                            <div class="world-links">
                                <a href="{{ url_for('overview') }}" target="_blank" class="world-link external-link">World Overview</a>
                                <a href="{{ url_for('user_facts') }}" target="_blank" class="world-link external-link">Your Contributions</a>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
    {% else %}
         <h1>Please sign in to access your worlds...</h1>
    {% endif %}
        </div>
        <!-- Add more content here -->
    </main>
</body>
</html>
