{% import 'macros.html' as macros %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.webp') }}">
    <title>City Overview</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/overview.css') }}">
    
</head>
<body>
    <div class="index">
        <h3>Index
        <label class="switch">
            <input type="checkbox" id="toggleSwitch">
            <span class="slider round">
                <span class="slider-text">Detailed</span>
            </span>
        </label></h3>
        {% for section in sections %}
            <a href="#{{ section.data.sectionTitle|replace(' ', '_') }}">{{ section.data.sectionTitle }}</a>
            {% for subsection in section.data.subsections %}
                <a class="subsectionlink" href="#{{ section.data.sectionTitle|replace(' ', '_') }}-{{  subsection.data.sectionTitle|replace(' ', '_') }}">{{ subsection.data.sectionTitle }}</a>
                {% for subsub in subsection.data.subsections %}
                    <a class="subsubsectionlink hidden" href="#{{ subsub.data.sectionTitle|replace(' ', '_') }}-{{  subsub.data.sectionTitle|replace(' ', '_') }}">{{ subsub.data.sectionTitle }}</a>
                {% endfor %}
            {% endfor %}
        {% endfor %}
        
    </div>
    <div class="main-content" style="margin-left: 220px;">
        <div id="bannerimage"></div>
        <h1>City Overview</h1>
        {% for section in sections %}
            <div class="content-block main" id="{{ section.data.sectionTitle|replace(' ', '_') }}">
                <h2>{{ section.data.sectionTitle }}</h2> 
                <div class="updateTime">Last Updated: {{ section.time }}</div>
                <p class="introduction">{{ section.data.sectionContent.introduction }}</p>
                <p class="summary">{{ section.data.sectionContent.summary }}</p>
                <p class="main-content">{{ section.data.sectionContent.mainContent }}</p>
                {% if section.data.subsections %}
                    {{ macros.render_subsections(section.data.subsections, section.data.sectionTitle) }}
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <script>
        let properNouns = [
                        {% for noun in nouns %}
                            { word: "{{ noun.word }}", definition: "{{ noun.definition }}" },
                        {% endfor %}
                    ];
    </script>
    <script src="{{ url_for('static', filename='js/overview.js') }}"></script>
</body>
</html>