<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.webp') }}">
    <title>User Facts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/userfacts.css') }}">
</head>
<body>
    <div id="bannerimage"></div>
    <h1>Your Contributions</h1>
    {% if categorized_facts %}
        {% for category, facts in categorized_facts.items() %}
        <div>
            <h2>{{ category }}</h2>
            <ul>
                {% for fact in facts %}
                <li>{{ fact }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    {% else %}
        <p>No facts available.</p>
    {% endif %}
</body>
</html>
